NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Z29vZC1zZWFob3JzZS0yMy5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_vBEc7YQta13YFYLB8YcDvdWQfrX5boej31dfBT7Wbe

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/organizations
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/sign-in

# [Xata] Configuration used by the CLI and the SDK
# Make sure your framework/tooling loads this file on startup to have it available for the SDK
XATA_BRANCH=main
XATA_API_KEY=xau_dkgL5pe50MVqhUuKY00Yb5vcAwviyi8g7
